<?xml version='1.0' encoding='utf-8'?>
<widget id="me.thava.babynames" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tamil Names</name>
    <description>
        Browse Tamil baby names.
    </description>
    <author email="tt@thava.me" href="http://thava.me">
        Thavanathan T
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
